@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

:root{
    --background: #889;
    --texto: #333344;
    --paragrafo: rgb(0, 0, 0);
}

body{
    background-color: var(--background);
    font-family: 'Gupter';
    margin: 0;
    height: auto;
    padding: 0%;
}

header{
    height: 15%;
    box-sizing: border-box;
    box-shadow: none;
}

header img{
    width: 100%;
    height: 297px;
}
.texto-sobreposto{
    position: absolute;
    top: 09%;
    text-align: center;
    color: var(--paragrafo);
    transform: translate(-50%, -50%);
    margin-left: 17%;
}

.texto-sobreposto h1{
    margin-top: 07%;
    font-family: 'Gupter';
}

.texto-sobreposto h2{
    text-align: center;
    margin-left: 275px;
    font-family: 'Gupter';
}